@import url('https://fonts.googleapis.com/css2?family=Quantico&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Quantico', sans-serif;
}

body {
  background: url(https://i.ibb.co/R9hwSbx/bg.jpg);
  background-size: cover;

  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
}
.locationInput {
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  width: 250px;
  padding: 10px;
  margin-top: 20%;
  margin-bottom: 10%;
  border-radius: 30px;
  border: 3px solid black;
  opacity: 0.7;
}

.locationCard {
  text-align: center;
  line-height: 2.1rem;
}
.searchButton {
  margin-left: 10px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: orange;
}
.searchButton:active {
  background-color: lightblue;
}

.weatherCard {
  max-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 3px solid white;
  opacity: 0.9;
}
h1 {
  display: flex;
  font-size: 16px;
  font-weight: 400;
  animation: text-focus-in 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) both;
  opacity: 1;
}
hr {
  margin: 10px 0 10px 0;
  min-width: 200px;
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
